/* General page settings 
------------------------ */
@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

body {
  font: 16px 'Raleway', Arial, sans-serif;
}

/* My header settings
--------------------- */
header {
  display: table;
  width: 100%;
}

.home {
  height: 100vh;
  background: url("../img/kodaline-band.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  
}

/* Navigation menu styling 
-------------------------- */
#menu {
  float: right;
  padding: 10px;
  margin: 10px;
}
#menu ul {
  list-style: none;
}

#menu li {
  display: table-cell;
  padding: 5px;
}

#menu a {
  color: #000;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}

/* Styling of the main title 
---------------------------- */
.content {
  display: table-row;
  vertical-align: middle;
  padding: 7%;
}

.content #logo {
  position: absolute;
  left: 22%;
  right: 50%;
  top: auto;
  bottom: auto;
  width: 60%;
}