/* RESET 
-------- */
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

nav, ul { list-style: none; }

a { 
  text-decoration: none; 
  cursor: pointer; 
  opacity: 0.8; 
  margin: 0 15px;
}

li a:hover { opacity: 1; color: #fff; }

/* HEADER 
--------- */
header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background-color: #a0a5ae;
}

header img { width: 100px; margin-top: 5px;}
nav ul { display: flex; }
header li a { 
  font-family: 'Norwester', sans-serif;
  color: #fff; 
  text-transform: uppercase;
}

@media (max-width: 700px) {
  header { flex-direction: column; }
  header img { margin-bottom: 15px; }
}

/* HERO
------- */
.hero {
  background-image: url("../img/hero.png");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero img { width: 550px; margin-top: 80px; }

@media (max-width: 700px) {
  .hero img { width: 400px; }
}

/* STORY
-------- */

.story {
  display: flex;
  flex-direction: column;
  padding: 100px; 
}

h3 {
  display: flex;
  justify-content: center;
  margin: -50px auto 20px auto;
  font-family: 'Norwester', sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.story p {
  max-width: 800px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 32px;
  text-align: justify;
}
@media (max-width: 700px) {
  .story p { max-width: 350px; line-height: 35px; }
}

/* DISCOGRAPHY
-------------- */

.discography {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  background-color: #a0a5ae;
}

.discography h3 { color: #fff; }
.discography .grid { display: flex; justify-content: space-between; }
.discography .grid img {
  width: 300px;
  height: 300px;
  transition: width 1s, height 2s;
}

.grid img:hover { width: 450px; height: 450px; }

@media (max-width: 700px) {
  .grid { flex-direction: column; }
  .discography .grid img {
    width: 350px;
    height: 350px;
    padding: 10px;
    transition: width 1s, height 2s;
  }
  .grid img:hover { width: 450px; height: 450px; }
}